@use "@/assets/styles/common.scss" as *; 

.chat-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    padding: 0 15px;
    @media screen and (min-width: 720px) and (max-width: 1080px) {
        padding: 0 1rem;
        gap: 1rem;
    }
    .input-container {
        width: 100%;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        background-color: #ffffff34;
        input {
            width: 90%;
            height: 60%;
            background-color: transparent;
            color: white;
            border: none;
            padding-left: 14px;
            font-size: 14px;
            font-family: $font-family-sans-serif;

            &::selection {
                background-color: #9a86f3;
            }
            &:focus {
                outline: none;
            }
        }
        button {
            cursor: pointer;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;

            svg {
                color:#a1a1aa;
                font-size: 25px;
                
            }

            @media screen and (min-width: 720px) and (max-width: 1080px) {
                padding: 5px 1px;
                svg {
                font-size: 14px;
                }
            }
        }
    }
}